body 
{
    background-image: url(../images/background.png); 
    font-size: 8pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
    margin: 0%;
}

#top 
{
    background-image: url(../images/bannerbg.png);
    height: 50px;
    text-align: center;
}

#firstHead
{
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana;
    text-shadow: 3px 3px #999999;
}
.floatLeft
{
float: left;
}

#main 
{
    width: 800px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-color: grey;
    border-style: solid;
    border-spacing: 4px;
    border-radius: 20px;
    background-color: #A2B964;
}

#left
{
    width: 69%;
    float: left;
    background-image: url(../images/background.png); 
}

#internal_left
{
    width: 47%;
    float: left;
}

#internal_right
{
    width: 47%;
    float: right;
}

#rating
{
    margin-bottom: 15px;
    color: red;
    font-size: 40pt;
}


#right
{
    background-color: #A2B964;
    width: 31%;
    height: 100em;
    float: right;
}
#top_left
{
    width: 100%;
    background-image: url(../images/rbg.png);
    background-repeat: repeat-x;
    margin-top: 0px;
    
}
.text-centered
{
    text-align: center;
}

.grid
{
margin: 800;
padding: 20;
background-color: khaki;
}

.movie_info
{
    border-style: solid;
    border-spacing: 2px;
    border-color: #999999;
    border-radius: 10px;
    padding: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#footer
{
    height: 3px;
    background-color: #A2B964;
    text-align: center;

}
dt
{
font-weight: bold;
}